


th {
    cursor: pointer;
}

#idHeader {
    width: 40px;
}


.tag {
    background-color: #e1f8d5; /* pastel color */
    border-radius: 5px; /* rounded corners */
    padding: 2px 5px; /* some padding */
    cursor: pointer;
}
