th {
    cursor: pointer;
}

table td {
    padding: 0.5rem;
}

#idHeader {
    width: 60px;
}

#dateHeader {
    width: 210px;
}   

#valueHeader {
    width: 120px;
}

#payeeNameHeader {
    width: 170px;
}

#categoryNameHeader {
    width: 180px;
}

/* #noteHeader {
    width: 500px;
} */

.positiveValue {
    background-color: #e1f8d5; /* pastel color */
    border-radius: 5px; /* rounded corners */
    padding: 2px 5px; /* some padding */
}

.negativeValue {
    background-color: #f8d5d5; /* light red */
    border-radius: 5px; /* rounded corners */
    padding: 2px 5px; /* some padding */
}

.tag {
    background-color: #e1f8d5; /* pastel color */
    border-radius: 5px; /* rounded corners */
    padding: 2px 5px; /* some padding */
    cursor: pointer;
}
