.DataTable {
    margin: 20px;
    padding: 10px;
    border-collapse: collapse;
    width: 100%;
}

.DataTable th,
.DataTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

.DataTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f2f2f2;
    color: black;
    cursor: pointer; /* Add this line to change the cursor to a pointer */
}

.tag {
    background-color: #e1f8d5; /* pastel color */
    border-radius: 5px; /* rounded corners */
    padding: 2px 5px; /* some padding */
    cursor: pointer;
}
